# NetBeans
nbproject/private/
build/
dist/
*.class

# OS fajlovi
.DS_Store
Thumbs.db

# Ostalo
*.log
*.jar
*.war
*.zip
*.exe
/Klijent/nbproject/private/
/Server/nbproject/private/
/Zajednicki/nbproject/private/
