# Ignorisanje NetBeans privatnih podešavanja
**/nbproject/private/

# Ignorisanje build i dist foldera (ako se pojave)
**/build/
**/dist/

# Ignorisanje kompajliranih fajlova
*.class

# Ignorisanje manifest fajlova
**/manifest.mf

# Ignorisanje logova, zip fajlova, i sl.
*.log
*.zip
*.jar
*.war

